<section class="bg-gray-50 dark:bg-gray-900 " style="background-image: url('/assets/images/background2.jpg'); background-size: cover; background-position: center;">
  <nav class="bg-transparent border-gray-200">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <div class="flex justify-center items-center">
        <img class="w-40 h-36 " src="/assets/images/2-removebg-preview.png" alt="logo">
      </div>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <button (click)="login()" type="button" class="text-white bg-blue-700 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-black dark:hover:bg-black dark:focus:ring-black mr-4">Sign in</button>
        <button (click)="register()" type="button" class="text-white bg-blue-700 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-black dark:hover:bg-black dark:focus:ring-black ml-4">Sign up</button>

        <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent  dark:border-gray-700">
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white bg-zinc-400 rounded md:bg-transparent md:text-zinc-400 md:dark:text-zinc-400" aria-current="page">Home</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-zinc-400 md:dark:hover:text-zinc-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About Us</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-zinc-400 md:dark:hover:text-zinc-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Reviews</a>
          </li>
          <li>
            <a href="#" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-zinc-400 md:dark:hover:text-zinc-400 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="flex flex-col items-end justify-items-start mx-7 md:h-screen lg:py-0">
    <div class="w-full bg-transparent bg-opacity-25 md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:bg-transparent">
      <h6 class="mb-2 text-xl font-bold tracking-tight text-white dark:text-white px-10 my-10 ">Don't let your dreams drives away...</h6>
      <h1 class="mb-2 text-7xl font-bold tracking-tight text-white dark:text-white px-10 my-10 ">RENT</h1>
      <h1 class="mb-2 text-7xl font-bold tracking-tight text-white dark:text-white px-10 my-10 ">YOUR</h1>
      <h1 class="mb-2 text-7xl font-bold tracking-tight text-white dark:text-white px-10 my-10 ">DREAMS</h1>
    </div>
  </div>
</section>

<style>
  button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
</style>


