<nav class="bg-gray-800 bg-opacity-30 border-gray-200 dark:bg-gray-800 " xmlns="http://www.w3.org/1999/html">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
    <div class="flex justify-center items-center">
      <img class="w-40 h-36 " src="/assets/images/2-removebg-preview.png" alt="logo">
    </div>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button" class="text-white bg-gray-700 hover:bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-black dark:hover:bg-black dark:focus:ring-black mr-4">Log out</button>

      <button data-collapse-toggle="navbar-cta" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-cta">
      <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-36 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="/home" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
        </li>
        <li>
          <a href="/favourites" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-gray-700 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Favourites</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--reserve panel-->
<div class="flex flex-col justify-items-center my-20 mx-5" >
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700 dark:text-white">RESERVATION</h5>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">FORM</p>
</div>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" class="justify-center mx-8">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="customerEmail" required>
    <mat-error *ngIf="reservationForm.get('customerEmail')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="reservationForm.get('customerEmail')?.hasError('email')">
      Invalid email format
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="customerName" required>
    <mat-error *ngIf="reservationForm.get('customerName')?.hasError('required')">
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="customerSurname" required>
    <mat-error *ngIf="reservationForm.get('customerSurname')?.hasError('required')">
      Surname is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="customerPhone" required>
    <mat-error *ngIf="reservationForm.get('customerPhone')?.hasError('required')">
      Phone number is required
    </mat-error>
    <mat-error *ngIf="reservationForm.get('customerPhone')?.hasError('pattern')">
      Invalid phone number format
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" [matDatepickerFilter]="myFilter" required>
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
    <mat-error *ngIf="reservationForm.get('startDate')?.hasError('required')">
      Start date is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" [matDatepickerFilter]="myFilter" required>
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
    <mat-error *ngIf="reservationForm.get('endDate')?.hasError('required')">
      End date is required
    </mat-error>
    <mat-error *ngIf="reservationForm.errors?.['dateRangeInvalid']">
      Selected date range is unavailable
    </mat-error>
  </mat-form-field>

  <input type="hidden" formControlName="motorcycleId">

  <div *ngIf="reservationForm.get('totalPrice')?.value">
    <p class="text-xl">The rental cost for this period is:: {{ reservationForm.get('totalPrice')?.value | currency }}</p>
  </div>

  <div class="flex justify-center">
    <button type="submit" class="text-white justify-self-center bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
      Make Reservation
    </button>
  </div>
</form>

<!--footer-->
<footer class="bg-gray-400 bg-opacity-20 rounded-lg shadow my-40 dark:bg-gray-800 justify-end">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">RevUp-Rental™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
