<section class=" flex justify-center items-center" style="background-image: url('/assets/images/background3.jpg'); background-size: cover; background-position: center;">
  <div class="flex flex-col items-center justify-center px-20 py-8 mx-7 md:h-screen lg:py-0">
    <div class="w-full bg-black bg-opacity-25 md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:bg-opacity-80 dark:border-gray-700">
      <div class="flex justify-center items-center">
        <img class="w-44 h-50 " src="/assets/images/2-removebg-preview.png" alt="logo">
      </div>
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert" *ngIf="errorMsg.length">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <p class="font-medium" *ngFor="let msg of errorMsg"> {{msg}}</p>
          </div>
        </div>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-50 dark:text-white">Your email</label>
            <input [(ngModel)]="authRequest.email" type="email" name="email" id="email" class="bg-transparent border border-black focus:border-white text-white placeholder-amber-100 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-950 dark:border-gray-950 dark:placeholder-black-950 dark:text-white dark:focus:ring-black dark:focus:border-black" placeholder="name@company.com" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-50 dark:text-white">Password</label>
            <input [(ngModel)]="authRequest.password" type="password" name="password" id="password" placeholder="••••••••" class="bg-transparent border placeholder-amber-100 border-black focus:border-white text-white sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-950 dark:border-gray-950 dark:placeholder-black-950 dark:text-white dark:focus:ring-black dark:focus:border-black" required="">
          </div>
          <div class="flex items-start">
            <div class="ml-3 text-sm">
              <label class="font-light text-gray-50 dark:text-gray-300">Forget the password ? <a class="font-medium text-primary-600 hover:underline dark:text-primary-500" href="#">Click here</a></label>
            </div>
          </div>
          <div>
            <button (click)="login()" type="submit" class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</button>
          </div>
          <p class="text-sm font-light text-gray-50 dark:text-gray-50">
            Don't have an account? <a href="/register" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Register here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>

<style>
  button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
  }
</style>
